.container{
  display: grid;
  grid-template-areas:
  'search-bar search-bar search-bar search-bar'
  'video-player video-player video-player video-list'
  'video-player video-player video-player video-list'
}

.search-bar{
  grid-area: search-bar;
  background-color: red;
}

.video-player{
  grid-area: video-player;
  background: #fff;
}

.video-list{
  grid-area: video-list;
  background:#fffACD;
  padding: 15px;
}

.video-titulo{
  font-weight: 600;
  color: #000;
  font-size: 32px;
  padding: 10px;
  
}

.video-descricao{
  padding: 5px;
  color: grey;
}